body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.dashboard{
  width: 25%;
  background:grey;
  height: 100%;
}

.card{
  width: 275px;
  height: 100px;
  overflow: hidden;
}

.cardEffect{
  -webkit-animation: alternate;
  transform: scale(1.3);
}